
<IfModule mod_rewrite.c>
RewriteEngine On
ServerSignature Off
RewriteRule ^([^\.]+)$ $1.php [NC,L]

RewriteCond %{REQUEST_URI} ^(/.*)$
RewriteRule ^$ view/paginas/index.php?url=inicial.php [L,QSA]

RewriteCond %{REQUEST_URI} !\.(php|html)$
RewriteRule (.*) view/paginas/$1 [L]


RewriteRule ^$  view/paginas/index.php?url=inicial [L,QSA]
RewriteRule (.*) view/paginas/index.php?url=$1 [L,QSA]
</IfModule>

