footer
{
    background: #fff;
    padding: 15px;
    color: #444;
    border-top: 1px solid #d2d6de;
    margin: 0;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    font-size: 11px;
    padding:10px 30px;
}

.logo-menu
{
    width:40px;
    margin-top:7px;
}
.perfil-menu
{
    width:40px;
    margin-top:0px;
    margin-right:7px;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 50px;
    height: 50px;
    padding-top: 0;
}
.form-aviso
{
    color:red;
}